* {
    box-sizing: border-box;
}
.wrapper-background {
    background: #3A4965;
    width: 1197px;
    height: 660px;

}
.pricing-table {
    background-color: #ffffff;
    width: 1157px;
    margin-top: 21px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color: #848484;
    text-align: center;
    vertical-align: middle;
    font-family: arial, sans-serif;
    position: absolute;
}
tr {
    height: 167px;
    box-shadow: inset 0 -2px 2px #848484;
}
tr:first-child {
    height: 113px;
    color: #848484;
    font-size: 20px;
    font-weight: bold;
}
td {
    width: 158px;
}
td:first-child {
    width: 199px;
}

td:nth-child(2n+2) {
    background-color: #E3E3E3;
    box-shadow: inset 0 -2px 2px #cccccc;
}
td:nth-child(2n+3) {
    background-color: #F2F2F2;
    box-shadow: inset 0 -2px 2px #cccccc;
}
.table-col .fa {
    font-size: 24px;
}
.pricing-table .header-text-small {
    font-size: 14px;
}
.plan-standart {
    background-color: #89C331;
}
.plan-ultimate {
    background-color: #F04A56;
}
.plan-premium {
    background-color: #20807C;
}
.plan-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 14px 19px;
}
.plan-price {
    font-size: 36px;
    float: left;
}
.price-cents {
    font-size: 18px;
    float: left;
    margin-top: 6px;
}
.price-period {
    font-size: 14px;
    float: right;
    top: 20px;
    display: inline-block;
    margin-top: 18px;

}
.button {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    width: 145px;
    height: 42px;
    background-color: #484848;
    border-bottom: 9px solid #404040;
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}
.button:hover {
    background-color: #404040;
}










