@font-face {
    font-family: "Arimo-Regular";
    src: url('../fonts/Arimo/Arimo-Regular.ttf')
}
@font-face {
    font-family: "Arimo-Bold";
    src: url('../fonts/Arimo/Arimo-Bold.ttf')
}
body {
    font-family: Arimo-Regular, sans-serif;
}
td, th {
    box-shadow: inset 5px 0 10px -10px black;
}
.wrapper-background {
    background: #3A4965;
    width: 1192px;
    height: 756px;
}
.pricing-table {
    width: 1153px;
    background: #ffffff;
    text-transform: uppercase;
    position: absolute;
    margin-top: 23px;
    margin-left: 21px;
}

/*HEAD*/
.plan-choising {
    color: #484848;
    text-align: center;
}
.plan-price {
    color: #484848;
    height: 87px;
    text-align: left;
    position: relative;
    padding: 18px 33px;
}
.plan-price-dollars {
    font-weight: bold;
    font-size: 60px;
}
.plan-price-dollars:before {
    content: "\0024";
}
.plan-price-cents {
    font-size: 24px;
    position: absolute;
    top: 22px;
    font-weight: bold;
}
.plan-price-dollars:after {
    content: "per month";
    font-size: 18px;
    position: absolute;
    top: 54px;
    font-weight: normal;
}
.pricing-choicing-small {
    font-size: 18px;
    display: block;
    line-height: 1.5;
}
.pricing-choicing-big {
    font-size: 30px;
}
.plan-name {
    height: 71px;
    color: #ffffff;
    font-weight: bold;
}
.plan-standart {
    font-size: 24px;
    background: #89C331;
}
.plan-ultimate {
    font-size: 30px;
    background: #F04A56;
}
.plan-premium {
    font-size: 24px;
    background: #20807C;
}

/*BODY*/
.plan-condition {
    height: 70px;
    font-size: 16px;
    color: #848484;
    text-align: center;
}
.fa {
    font-size: 24px !important;
    margin-right: 12px;
}
.plan-condition-odd {
    background: #F2F2F2;
}
.plan-condition-even {
    background: #E3E3E3;
}

/*FOOT*/
.plan-button {
    width: 193px;
    height: 50px;
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    transform: 0.3s;
}
.button-gray-background {
    background: #DDDDDD;
}
.button-backgraund {
    background: #EEEEEE;
}
.button-contact {
    background: #484848;
    border-bottom: 9px solid #404040;
    margin: 30px 59px;
}
.button-contact:hover {
    background: #404040;
}
.button-standart {
    background: #89C331;
    border-bottom: 9px solid #79B027;
    margin: 30px 43px;
}
.button-standart:hover {
    background: #79B027;
}
.button-ultimate {
    background: #F04A56;
    border-bottom: 9px solid #DF3A46;
    margin: 30px 43px;
}
.button-ultimate:hover {
    background: #DF3A46;
}
.button-premium {
    background: #20807C;
    border-bottom: 9px solid #16736F;
    margin: 30px 43px;
}
.button-premium:hover {
    background: #16736F;
}


























